<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}} demo!
  </h1>
</div>

<div class="run-banner">

  <hm-carousel-three [custom-width]="800" [main-class]="'main'" [other-class]="'other'" [right-item]="'rightItem'" [left-item]="'leftItem'">
    <section carousel-items-container class="pane-container">

      <article class="pane cursor-pointer" *ngFor="let avatar of avatars; let i = index;" carousel-item (carousel-item-click)="openGallery($event)"
        [style.backgroundImage]="avatar.defaultUrl | safe:'background-image'">
      </article>
    </section>
    <ng-template #carouselPrev>
      <i class="material-icons icon" style="font-size:50px;">keyboard_arrow_left</i>
    </ng-template>

    <ng-template #carouselNext>
      <i class="material-icons icon" style="font-size:50px;">keyboard_arrow_right</i>
    </ng-template>

    <ng-template #carouselDot let-model>
      <div class="ball" [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>

  </hm-carousel-three>

</div>
